<footer class="wf_no-link-content" id="ft_js">
  <!-- les différents liens <a> du footer -->
  <a class="wf_link" href="#">Mentions légales</a>
  <a class="wf_link" href="#">Contact</a>
  <a class="wf_link" href="#">Plan du site</a>
  <!-- la balise <div> qui permet de positionner le copyright à droite du footer -->
  <div id="footer_copy">
    <div class="wf_no-link">Copyright</div>
  </div>
</footer>