{% extends "UserBundle::layout.html.twig" %}
<p>dsfsd</p>
{% block body %}
<div id="main">
	<section>
		<h1 class="wf_no-link-align">Créer un compte</h1>
		{% block fos_user_content %}

		{% endblock %}
	</section>
</div>
{% endblock %}