{% extends "SerieBundle::layout.html.twig" %}

{% block body %}


    <!-- le block <div> qui contient tout le contenu de la page -->
    <div id="main">
    <!-- le block <section> qui contient tout les informations de la
         page courante -->
        <section id="detail_genre">
        <h1 class="wf_no-link-align">liste des séries</h1>

        <div class="detail_genre_block">

        {% for serie in series %}
            <!-- chaque résultat est stocké dans une <div> -->
            <div class="detail_genre_result">
                <!-- l'ensemble image de la serie plus nom -->
                <figure>
                    <img class="wf_img" src="{{ asset("images/series/%s"|format(serie[0].poster.path)) }}" alt="serie"/>
                    <figcaption>
                        <a class="wf_link" href="{{ path ("serie_detail",{"id": serie[0].id }) }}">{{ serie[0].name }}</a>
                    </figcaption>
                </figure>
                <!-- la partie larérale du résultat -->
                <div class="detail_genre_lat">
                    <!-- l'évaluation de la série -->
                    {{ include('SerieBundle:Default/score.html.twig') }}
                </div>
            </div>
        {%  endfor %}
        </div>
        </section>
    </div>

{% endblock %}